.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.image {
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  font-size:14px;
  text-align:left;
}
.title_h2_with_background {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
.line {
}
.text_area {
  color:#000000;
  text-align:left;
}
.bootstrap_-_text_area {
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.checkbox_-_filter {
  color:#00427F;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.sticky_1 {
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
.flow_shape {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
.connector {
}
.box_1 {
}
.heading_11 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.button_-_style_1_se {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
.paragraph1 {
  font-size:14px;
  color:#000000;
  text-align:left;
}
.checkbox1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.droplist1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.radio_button1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.shape {
  font-size:13px;
  color:#000000;
}
.text_area1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.text_field {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.vertical_line {
}
.icon {
}
.box_2 {
}
.box_3 {
}
.alert_-_success {
  color:#FFFFFF;
}
.ellipse {
}
.placeholder {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.label {
  font-size:14px;
  text-align:left;
}
.btn_-_add_item {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
.btn_-_my_items {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
.filters_-_subheading {
  font-family:'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#333333;
  text-align:left;
}
.horizontal_line {
}
.image1 {
  font-size:13px;
  color:#000000;
}
.chechbox_-_label {
  font-size:14px;
  color:#333333;
  text-align:left;
}
.fontawesome {
}
.breadcrumb_-_active {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
  text-align:left;
}
.breadcrumb_-_background {
  font-size:24px;
  color:#999999;
}
.link {
  color:#0099FF;
}
.btn_-_see_all {
  font-size:14px;
  color:#00427F;
  text-align:left;
}
.paragraph2 {
  text-align:left;
}
.shape1 {
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.checkbox2 {
  text-align:left;
}
.menu_background {
}
.menu_item {
}
.menu_item_background {
  color:#FFFFFF;
  text-align:left;
}
.heading_2_gray {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
  text-align:left;
}
.input_-_inner_field_styling {
  font-size:14px;
}
.tag {
  color:#FFFFFF;
}
.navigation_item {
  font-size:14px;
  color:#FFFFFF;
}
.btn_-_edit__invite {
  color:#434343;
}
.icon_edit {
}
.new_style {
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:12px;
  text-align:left;
}
.radio_button_-_description_text {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:11px;
  color:#666666;
  text-align:left;
}
.collection_-_title_h2 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
.avatar_-_gray_background {
}
.h2_-_alert_-_success {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
.text_field2 {
  color:#000000;
  text-align:left;
}
.button_-_style_2_se {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
.text_link_-_internal_se {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  color:#00427F;
  text-align:center;
  line-height:20px;
}
.shape2 {
}
.text_field3 {
  color:#000000;
  text-align:left;
}
.image2 {
  color:#000000;
}
.horizontal_line1 {
}
.paragraph3 {
  text-align:left;
}
.table {
}
.table_cell {
}
.horizontal_line2 {
}
.title_h2_with_background_v2 {
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
.heading_2_-_details {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.new_style1 {
}
.new_style11 {
}
